*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr{
  margin-top: 10px;
  width: 96%;
  margin-left: 2%;
}
.shopping-cart{
  width: 100%;
  padding: 10px;
}
.shopping img{
  width: 300px;
  height: 70px;
  margin-top: 20px;
}
.shopping h2{
  text-align: center;
}
.product{
  width: 55%; 
  height: 800px;
  border: 1px solid rgb(66, 66, 241);
  margin-top: 50px;
  
}
.list h3{
  height: 30px;
  color: white;
  background-color: rgb(70, 70, 191);
  padding-left: 10px;
}
.airpods{
  display: flex;
  height: 150px;
  padding-top: 10px;
  padding: 10px;
}
.mua button{
  text-align: center;
  background-color: aqua;
  border: none;
  border-radius: 3px;
  width: 40px;
  height: 20px;
}
.mua{
  text-align: center;
}
.image img{
  width: 200px;
  height: 150px;
  padding-top: 10px;
  
}

.content{
  padding-left: 20px;
  
}
.content h5{
  margin-top: 5px;
}
.content p{
  margin-top: 5px;
}
.quantity button{
  border-radius: 3px;
  width: 60px;
  height: 20px;
  margin-top: 30px;

}
.quantity p{
  border-radius: 3px;
  width: 60px;
  height: 20px;
  color: white;
  background-color: rgb(249, 83, 23);
  margin-top: 30px;
}
.imag img{
  width: 200px;
  height: 150px;
  
}
.rikkei{
  display: flex;
}